.container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  position: relative;
}

.items {
  position: relative;
  width: 100%;
  height: 100%;
}

.cube {
  width: 100px;
  height: 100px;
  background-color: #4CAF50;
  position: absolute;
  cursor: grab;
}
